<div id="novoGenero-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('links.newgender') %></h5>        
        <button type="button" class="close" data-dismiss="modal">x</button>        
      </div>
      <%= form_for @genero, remote: true do |f| %>
        <div class="modal-body">
          <%= f.label :nome %>
          <%= f.text_field :nome, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <%= f.submit t('links.save'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>