<% unless @resultados.nil? %>
  <div class="align-middle">
    <h4>
      Sua busca encontrou <%= pluralize(@resultados.count, 'filme', plural: 'filmes') %><br>
      <small><%= link_to t('links.home'), filmes_path, class:"btn btn-light btn-sm" %></small>
    </h4>  
  </div>
  <div class="row jumbotron jumbotron-fluid justify-content-center">
    <% @resultados.each do |filme| %>
      <div class="mx-auto">
        <%= link_to filme, class:"card-link" do %>
          <div class="card" style="width: 18rem;">          
            <%= image_tag filme.capa, class: "card-img-top" if filme.capa.attached? %>              
            <div class="card-body">
              <h5 class="card-title"><%= filme.titulo %></h5>
              <p class="text-muted"><%= filme.ano %> · <%= filme.idade %> · <%= filme.genero.nome %></p>
              <p class="card-text text-truncate" style="max-width: 20rem;"><%= filme.sinopse %></p>                    
            </div>
          </div>
          <br>
        <% end %>
      </div>
    <% end %>    
  </div> 
<% else %>  
  <script>
    $(document).ready(function(){ $("#modalFilmeNaoEncontrado").modal('show'); });
  </script>
  <div id="modalFilmeNaoEncontrado" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filme não cadastrado</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Desculpe, mas o filme <strong><%= params[:busca] %></strong> não consta na nossa base de dados.</p>
          <p>Que tal cadastrá-lo agora?</p>        
          <%= link_to t('links.newmovie'), new_filme_path, class:"btn btn-success text-light btn-sm" %>
          <small><%= link_to t('links.home'), filmes_path, class:"btn btn-light btn-sm" %></small>
        </div>
      </div>
    </div>  
  </div>  
<% end %>